
six
PyYAML
# OSS2 requirement in Python3
aliyun-python-sdk-core-v3>=2.13.11
aliyun-python-sdk-core>=2.13.25
aliyun-python-sdk-sts
oss2
graphviz
pyodps

# PyODPS requirements
numpy == 1.16.0

# Python2 Enum support
enum34





